
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after {
    box-sizing: border-box;
}
*::before {
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.code-wrapper {
    flex: 1;
    height: 50%;
    padding: 10px;
    border: 1px solid lightblue;
}
.code-wrapper #code {
    overflow: hidden;
    height: 100%;
}
.preview-wrapper {
    flex: 1;
    height: 50%;
    /* padding-right: 10px; */
    /* background: #FEE433; */
}
